.container {
    margin: 0 auto;
    text-align: center;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.square_btn img {
    width: 103px;
    height: 103px;
}

.square_btn {
    display: inline-block;
    text-align: center;
    height: 115px;
    width: 115px;
    padding: 30px;
    text-decoration: none;
    text-align: center;
    border: solid 2px transparent;
    border-radius: 5px;
    transition: .2s;
}

.square_btn:hover {
    background: rgba(255, 255, 255, 0.144);
    color: white;
    border: solid 2px rgba(255, 255, 255, 0.26);
    border-radius: 5px;
    transform: scale(1.09);
    transition: 0.2s;
}


button img {
    width: 100%;
    height: 100%;
}


.button-container>button {
    width: calc(25% - 20px);
}

.button-container>button:nth-child(4n+1) {
    margin-left: 0;
}

.button-container>button:nth-child(n+5) {
    margin-top: 20px;
}


@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
