.context-menu {
  display: none;
  font-family: poppins;
  position: fixed;
  background-color: rgba(51, 50, 50, 0.322);
  min-width: 200px;
  color: rgba(255, 255, 255, 0.747);
  font-weight: lighter;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border: 1.5px solid #9e9e9e4b;
  padding: 8px;
  border-radius: 8px;
  z-index: 1;
  top: 0;
  left: 0;
}
.context-menu-item {
  cursor: pointer;
  font-family: poppins;
  padding: 8px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  transition: .2s;
}
.context-menu-item:not(:last-child) {
  border-bottom: 1px solid rgb(143, 143, 143)7e;
}
.context-menu-item:hover {
  background-color: rgba(0, 0, 0, 0.212);
}
.context-submenu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  font-family: poppins;
  min-width: 200px;
  font-weight: lighter;
  background-color: rgba(51, 50, 50, 0.322);
  border: 1px solid #9e9e9e4b;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 8px;
  border-radius: 8px;
  z-index: 1;
}
.submenu-separator {
  border-bottom: 1px solid rgb(207, 207, 207)7e;
  background-color: red;
  margin: 4px 0;
}