h1 {
    font-family: poppins;
}
p {
    font-family: poppins;
}
.containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 1% 20px 20px 20px;
}
.settingscontainer {
    border-radius: 10px;
    height:300px;
    margin: 20px;
    background-color: rgba(51, 50, 50, 0.322);
    width: 400px;
    text-align: center;
    box-shadow: 0px 8px 11px 0px rgba(0,0,0,0.4);
    border: 2px solid rgba(61, 61, 61, 0.466);
}
.settingscontainer p {
    margin-left: -5px;
}
.option {
    font-family: poppins;
    color: white;
    border-radius: 10px;
    background-color: transparent;
    height: 50px;
    width: 200px;
    border: 2px solid rgb(209, 209, 209);
    margin: 5px;
    transition: .2s;
    cursor: pointer;
}
.option:hover {
    background-color: rgba(255, 255, 255, 0.801);
    color: black;
}
.option:active {
    background-color: rgb(255, 255, 255);
}
#loginPopup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.712);
    z-index: 1;
}

/* Style for the popup content */
#loginPopup-content {
    background-color: rgba(46, 46, 46, 0.945);
    width: 300px;
    height: 300px;
    margin: 100px auto;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid rgba(70, 70, 70, 0.884);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.233);
}
#loginPopup-content button {
    margin: 10px;
    height: 50px;
    border: 2px solid white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.233);
}
button:disabled {
    background-color: rgba(128, 128, 128, 0.548);
    border: transparent;
    cursor:auto;
}
button:disabled:hover {
    background-color: rgba(128, 128, 128, 0.548);
    border: transparent;
    color: white;
}
#loginPopup-input {
    width: 255px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.678);
    height: 20px;
}
/**/



#backgroundPopup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.712);
    z-index: 1;
}

/* Style for the popup content */
#backgroundPopup-content {
    background-color: rgba(46, 46, 46, 0.945);
    width: 300px;
    height: 300px;
    margin: 100px auto;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid rgba(70, 70, 70, 0.884);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.233);
}
#backgroundPopup-content button {
    margin: 10px;
    height: 50px;
    border: 2px solid white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.233);
}
#backgroundPopup-input {
    width: 255px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.678);
    height: 20px;
}

.button-container {
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
  }
  
  .centered-button {
    width: fit-content;
    margin: 10px; /* Optional: Add margin between buttons */
    padding: 10px; /* Optional: Add padding to buttons */
    border: 2px solid rgb(209, 209, 209);
    color: white; /* Optional: Set button text color */
    cursor: pointer; /* Optional: Add a pointer cursor on hover */
  }