.settingscontainer {
    border-radius: 10px;
    justify-content: center;
    display: inline-block;
    height: 300px;
    margin: 20px;
    background-color: rgba(51, 50, 50, 0.322);
    width: 400px;
    text-align: center;
    display: inline-block;
}
.settingscontainer p {
    margin-left: -5px;
}
.option {
    font-family: poppins;
    color: white;
    border-radius: 10px;
    background-color: transparent;
    height: 50px;
    width: 200px;
    border: 2px solid white;
    margin: 5px;
    transition: .2s;
    cursor: pointer;
    display: inline-block;
}
.option:hover {
    background-color: rgba(255, 255, 255, 0.555);
    color: black;
}
.option:active {
    background-color: rgb(255, 255, 255);
}