[anim="ripple"] {
    position: relative;
    overflow: hidden;
}

[anim="ripple"]:before {
    content: '';
    position: absolute;
    display: block;
    background: var(--ripple-background, white);
    border-radius: 50%;
    pointer-events: none;
    top: calc(var(--y) * 1px);
    left: calc(var(--x) * 1px);
    width: calc(var(--d) * 1px);
    height: calc(var(--d) * 1px);
    opacity: calc(var(--o, 1) * var(--ripple-opacity, 0.3));
    transition: calc(var(--t, 0) * var(--ripple-duration, 600ms)) var(--ripple-easing, linear);
    transform: translate(-50%, -50%) scale(var(--s, 1));
    transform-origin: center;
}

h1 {
    font-family: poppins;
}
p {
    font-family: poppins;
}
.containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 1% 20px 20px 20px;
}

.settingscontainer {
    opacity: 0;
}

.settingscontainer.loaded {
    opacity: 1;
}

.settingscontainer {
    border-radius: 10px;
    backdrop-filter: blur(4px);
    height: 300px;
    margin: 20px;
    background-color: rgb(24 24 24 / 32%);
    width: 400px;
    text-align: center;
    box-shadow: 0px 8px 11px 0px rgba(0,0,0,0.4);
    border: 2px solid rgba(61, 61, 61, 0.308);
}
.settingscontainer p {
    margin-left: -5px;
}
.option {
    --ripple-background: rgb(146, 146, 146);
    --ripple-opacity: 2.0;
    --ripple-duration: 300ms;
    font-family: poppins;
    color: white;
    border-radius: 10px;
    background-color: transparent;
    height: 50px;
    width: 200px;
    max-width: 150px;
    border: 2px solid rgb(209, 209, 209);
    margin: 5px;
    transition: .2s;
    cursor: pointer;
}

.option:hover {
    background-color: rgba(160, 160, 160, 0.342);
    transform: translate(-0%,-3%);
}

#panicPopup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.712);
    z-index: 1;
}

/* Style for the popup content */
#panicPopup-content {
    background-color: rgba(46, 46, 46, 0.945);
    width: 300px;
    height: 300px;
    margin: 100px auto;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid rgba(70, 70, 70, 0.884);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.233);
}
#panicPopup-content button {
    --ripple-background: rgb(80, 80, 80);
    --ripple-opacity: 2.0;
    --ripple-duration: 300ms;
    margin: 10px;
    height: 50px;
    border: 2px solid white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.233);
}

#panicPopup-content button:hover {
    transform: translate(-0%,-3%);
}

button:disabled {
    background-color: rgba(128, 128, 128, 0.548);
    border: transparent;
    cursor:auto;
}
button:disabled:hover {
    background-color: rgba(128, 128, 128, 0.548);
    border: transparent;
    color: white;
}
.popupInput {
    width: 255px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.678);
    height: 20px;
}

#backgroundPopup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.712);
    z-index: 1;
}
/* Style for the popup content */
#backgroundPopup-content {
    background-color: rgba(46, 46, 46, 0.945);
    width: 300px;
    height: 300px;
    margin: 100px auto;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid rgba(70, 70, 70, 0.884);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.233);
}
#backgroundPopup-content button {
    --ripple-background: rgb(80, 80, 80);
    --ripple-opacity: 2.0;
    --ripple-duration: 300ms;
    margin: 10px;
    height: 50px;
    border: 2px solid white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.233);
}

#backgroundPopup-content button:hover {
    transform: translate(-0%,-3%);
}


.button-container {
    display: flex;
    align-items: center; /* center vertically */
    justify-content: center; /* center horizontally */
    background-color: transparent;
  }
  
  .centered-button {
    width: fit-content;
    margin: 10px;
    padding: 10px;
    background-color: rgba(51, 50, 50, 0.322);
    border: 2px solid rgb(209, 209, 209);
    color: white;
    cursor: pointer;
  }