body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #262626;
}

nav {
  margin-top: 10.5px;
  margin-right: 10px;
  overflow: hidden;
}

nav a {
  float: right;
  margin-left: 5.5px;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 15.5px;
}

nav a:hover {
  background-color: #0f0f0f;
  color: #ffffff;
  transition: 1.5s;
  border-radius: 10px;
}

nav a.active {
  background-color: #4c24ff;
  color: white;
  border-radius: 10px;

}

nav a.active:hover {
  background-color: #2f00ff;
  color: white;
  transition: 1.5s;
}

nav .icon {
  display: none;
}


@media screen and (max-width: 555px) {
  nav a:not(:first-child) {
    display: none;
  }

  nav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 555px) {
  nav.responsive {
    position: relative;
  }

  nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

h1 {
  font-size: 45.5px;
}

input {

  width: 52.5%;
  padding: 20px 20px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 1px black;
  border-radius: 10px;
  background-color: #141414;
  transition: 0.5s;
}

input[type=text] {
  transition: 0.5s;
  color: white;


}

input:hover {
  -webkit-box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.46);
  box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.46);
  transition: 0.5s;
}

#card1,
#card2,
#card3,
#card4 {
  outline: 3.5px solid #004be0;
  text-align: center;
  float: center;
  width: 5.5%;
  height: 150px;
  color: white;
  padding: 4.5rem;
  border-radius: 5.5px;
  transition: 0.5s;
}

#card1:hover,
#card2:hover,
#card3:hover,
#card4:hover {
  background-color: #004be0;
  cursor: pointer;
  transition: 0.5s;
}

#featured {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 45.5px;
  display: grid;
  grid-gap: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.clock {
  position: absolute;
  width: 350px;
  top: 98%;
  text-align: right;
  left: 25px;
  transform: translateX(-50%) translateY(-50%);
  color: #3d7eff;
  font-size: 25px;
  letter-spacing: 3px;
}