@font-face {
    font-family: poppins;
    src: url(/assets/fonts/poppins.ttf);
}

#urlBar {
    display: flex;
    align-items: center;
    background-color: rgb(6, 22, 35);
    padding: 8px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#urlBar input {
  min-width: 10vw;
  height: 37px;
  width: calc(80vw + 20%);
  margin: 0 17px;
  padding-left: 35px;
  padding-right: 20px;
  margin-right: 10px;
  font-size: 14px;
}

iframe {
    display: block;
    border: none;
    height: calc(100vh - 3.2em);
    width: 100vw;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

#siteurl {
    display: block;
}

.search {
    position: absolute;
    pointer-events: none;
}

.icon {
    width: 19px;
}

.disabled {
    cursor: not-allowed;
    color: rgba(100, 100, 100, 0.973);
}

#urlBar {
    display: flex;
    align-items: center;
    padding: 8px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .searchBar {
    min-width: 10vw;
    height: 37px;
    width: calc(80vw + 20%);
    margin: 0 17px;
    padding-left: 35px;
    padding-right: 20px;
    margin-right: 10px;
    font-size: 14px;
  }
  
  button {
    display: flex;
    float: left;
    margin-right: 3px;
    height: 20px;
    width: 10px;
  }
  
  iframe {
    border: none;
    height: calc(100vh - 3.2em);
    width: 100vw;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 0.2s ease-out;
  }
  
  .iframe-container {
    margin-top: 10px;
  }
  
  .iframe-container iframe:not(#siteurl) {
    display: none;
  }
  
  #menu {
    display: none;
    position: fixed;
    margin-top: 40px;
    right: 0;
    height: 155px;
    border-radius: 5px;
    width: 200px;
    box-shadow:
     0 2px 4px rgba(0, 0, 0, 0.2), /* bottom */
     0 -2px 4px rgba(0, 0, 0, 0.2), /* top*/
     2px 0 4px rgba(0, 0, 0, 0.2), /* right*/
     -2px 0 4px rgba(0, 0, 0, 0.2); /* left */
    overflow-y: hidden;
    padding-top: 60px;
    z-index: 1000;
  }
  
  #menu button {
    width: 91%;
    border-radius: 3px;
    margin-left: 11px;
    margin-top: -16px;
    margin-bottom: 16px;
    background: transparent;
    border: none;
  }